<header class='header'>
    <div class='logo-container'>
        <a href="/">VideoLog</a>
    </div>

    <div class="form-container">
        <form class='search-form' action="/search" method='get'>
            <input type="text" placeholder='search' name='keyword'>
        </form>
    </div>
    <div class='nav-container'>
        {% if loggedUser %}
            <nav class='nav'>
                <a href="/upload">Upload</a>
                <a href="/profile/{{loggedUser.id}}">Profile</a>
                <a href="/logout">Log out</a>
            </nav>
        {% else %}
            <nav class='nav'>
                <a href="/join">Join</a>
                <a href="/login">Log in</a>
            </nav>
        {% endif %}
    </div>
</header>