{% extends "layouts/main.njk" %}

{% block content %}
    <form action="">
        <input type="text" placeholder='current password'>
        <input type="text" placeholder='new password'>
        <input type="text" placeholder='verify password'>
    </form>
{% endblock %}