{% extends "layouts/main.njk" %}

{% block content %}
    <div>
        <h1>Change password</h1>
    </div>
    <form action="/change-password" method='post'>
        <input type="password" placeholder='current password' name="oldPassword">
        <input type="password" placeholder='new password' name="newPassword">
        <input type="password" placeholder='verify password' name="newPassword2">
        <button>submit</button>
    </form>
{% endblock %}