{% import "macros/videoBlock.njk" as videoBlock %}

{% extends "layouts/main.njk" %}

{% block content %}
    {% for video in videos %}
        {{videoBlock.home(video)}}
    {% endfor %}
{% endblock %}