{% import "macros/videoBlock.njk" as videoBlock %}

{% extends "layouts/main.njk" %}

{% block content %}
    <div class='home-container'>
        {% for video in videos %}
            {{videoBlock.home(video)}}
        {% endfor %}
    </div>
{% endblock %}