{% extends "layouts/main.njk" %}

{% block content %}
    <div class='profile-container'>
        <h1>{{user.name}}</h1>
        <h5>{{user.email}}</h5>
        <div >
            {% if loggedUser and loggedUser.id == user.id %}

                <a href="/edit-profile">
                    <button>Edit Profile</button>
                </a>

                <a href="/change-password">
                    <button>Change Password</button>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}