{% import "macros/videoBlock.njk" as videoBlock %}

{% extends "layouts/main.njk" %}

{% block content %}
    <div>
        <h1>search result for keyword
            <u>{{keyword}}</u>
        </h1>
    </div>
    <div class='home-container'>
        {% for video in videos %}
            {{videoBlock.home(video)}}
        {% endfor %}
    </div>
{% endblock %}