{% import "macros/formBlock.njk" as formBlock %}

{% extends "layouts/main.njk" %}

{% block content %}
    <div id='previewContainer'>
        <video id='videoPreview' style='background-color: gray;' width='200' height='300'></video>
        <button id='recordButton'>Start Recoring</button>
    </div>

    {{formBlock.upload()}}
{% endblock %}