{% import "macros/formBlock.njk" as formBlock %}

{% extends "layouts/main.njk" %}

{% block content %}
    <div class="upload-container">
        <div id='previewContainer'>
            <video id='videoPreview'></video>
            <button id='recordButton'>Start Recoring</button>
        </div>

        {{formBlock.upload()}}</div>
{% endblock %}