{% import "macros/videoBlock.njk" as videoBlock %}

{% extends "layouts/main.njk" %}

{% block content %}

    <div class='container'>
        {{videoBlock.detail(video, loggedUser)}}
    </div>

    <hr/>

    <div>
        <h5>comments</h5>
        <input type="text" name="" id="" placeholder='add your comments'>
    </div>

{% endblock %}