{% macro home(video = {}) %}
    <div class='home-card-container'>
        <a href='/videos/{{video.id}}'>
            <video src="{{video.fileUrl}}"></video>
        </a>
        <div class='card-summary'>
            <h5>{{video.title}}</h5>
            <p>card description</p>
            <em>2020.10.31</em>
        </div>
    </div>
{% endmacro %}

{% macro detail(video = {}, loggedUser = {}) %}
    <div id="videoDetailContainer">
        <video src="{{video.fileUrl}}" id='videoInDetail' controls="controls"></video>
        {% if loggedUser and video.creator.id == loggedUser.id %}
            <a href="/videos/{{video.id}}/edit" class='video-edit-btn'>
                <button>Edit Video</button>
            </a>
        {% endif %}
        <h3>{{video.title}}</h3>
        <p>{{video.description}}</p>
        {% if video.views === 1 %}
            <span>
                <span id='viewNum'>{{video.views}}</span>
                <em>view</em>
            </span>
        {% else %}
            <span id='viewNum'>
                <span>{{video.views}}</span>
                <em>views</em>
            </span>
        {% endif %}
        <p>created by
            <a href="/profile/{{video.creator.id}}">{{video.creator.name}}</a>
        </p>
    </div>
{% endmacro %}